@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;500;600;700&family=Instrument+Serif:ital@0;1&display=swap');
@import "tailwindcss";

:root {
  --primary: #2D3132;
  --accent: #614986;
  --secondary: #F3F6EF;
  --ternary: #234152;
  --positive: #1ECF7D;
}

body {
  font-family: "Familjen Grotesk", sans-serif;
}

/* Navigation links */
.header-link {
  color: var(--primary);
  text-decoration: none;
  transition: color 0.2s ease;
}

.header-link:hover {
  color: var(--accent);
}

.header-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 1px;
  background-color: var(--accent);
  transition: width 0.2s ease;
}

.header-link:hover::after {
  width: 100%;
}

/* Primary Button */
.primary-button {
  background-color: var(--accent);
  color: var(--secondary);
  border: 1px solid var(--accent);
  transition:
    background-color 180ms ease,
    color 180ms ease,
    border-color 180ms ease;
}

.primary-button:hover {
  background-color: color-mix(
    in srgb,
    var(--accent) 20%,
    transparent
  );
  border-color: var(--accent);
  color: var(--ternary);
}

/* Secondary Button */
.secondary-button {
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--accent);
  transition:
    color 180ms ease,
    border-color 180ms ease,
    text-decoration-color 180ms ease;
}

.secondary-button:hover {
  background-color: transparent;
  border-color: transparent;
  color: var(--accent);
  text-decoration: underline;
  text-decoration-color: var(--accent);
  text-underline-offset: 4px;
}